.about-body {
  width: 100vw;
  height: 100vh;
  font-family: monospace;
  overflow: hidden;
  position: relative;
  background: #82A9D3;
  background: linear-gradient(180deg, rgba(130, 169, 211, 1) 0%, rgba(208, 215, 228, 1) 47%, rgba(211, 217, 229, 1) 68%, rgb(235, 210, 220) 80%);
}