.body {
  width: 100vw;
  height: 100vh;
}

.floor {
  width: 100vw;
  height: 15vh;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: solid white 2px;
}

.frame {
  position: absolute;
  top: 0;
}

.table {
  position: absolute;
  bottom: 7.5vh;
}

.hi {
  font-family: monospace;
  color: rgb(255, 213, 141);
  z-index: 10;
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 5em;
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(20px);
  padding: 20px;
}